putchar void(val i64)
exit void(val i64)

printc_plus void(char i64)  = {
    if !{char == 65 + 26} {
        putchar(char)
        printc_plus(char + 1)
    }
}

main void() = {
    x i64
    x = 65
    printc_plus(x)
    exit(0)
}
